
.Form{
    width: 85%;
    /* height: 80%; */
    background: white;
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 3px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.form{
    display: flex;
    gap: 0.5rem;
}

.textbox{
    padding: 10px;
    height: 20px;
    /* background-color: blue; */
    
}

.update>img{
    width: 3.2rem;
    height: 3.2rem;
}

.noti>div>span:nth-of-type(1){
    font-weight: bold;
}
